// * Импортирование стилей со шрифтами 
@import url("fonts.less");

// * Импорт цветов 
@import url("color.less");

// * Подкючение переменных
@import url("variables.less");

// * Подкючение Первой секции
@import url("header.less");

// * Подкючение блока с преимуществами
@import url("advane.less");


//! На время переташил переменные сюда, для того, чтобы появлялись подсказки 


.reg() {
    font-family: 'proxima_nova_reg', sans-serif;
}

.bold() {
    font-family: 'proxima_nova_bold', sans-serif;
}


@button-color: #fcb303;
@icon-color: #70c849;
@danger-color: #ff0000;
@light-color: #fff;
@text-color: rgb(41, 41, 41);
@bc-color: #f5f5f5;
@border: #dddddd;


//! ----------------------------------------------------------------------


body {
    .reg();
}

header {
    // height: 700px;
    background: url('../img/dist/bc-header.jpg') center center no-repeat;
    background-size: cover;
}


.button {
    width: 100%;
    display: block;
    color: @light-color;
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    background-color: @button-color;
    background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%);
    padding: 10px 20px;

    &:hover {
        text-decoration: none;
        color:@light-color;
    }
}

.button-main {
    width: 255px;
    display: block;
    color: @light-color;
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    background-color: @button-color;
    background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%);
    padding: 10px 20px;

    &:hover {
        text-decoration: none;
        color: @light-color;
    }
}


.link {
    white-space: nowrap;
    color: @icon-color;
    letter-spacing: normal;
    text-decoration: underline;

    &:hover {
        color: @icon-color;
        letter-spacing: normal;
        text-decoration: underline;

    }
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.no-padding {
    padding: 0;
}

.big-price {
    font-size: 25px;
}

.card {
    padding: 50px;
}

.price {
    background: url('../img/dist/price/bc-price.jpg') center center repeat;
    padding: 120px 0px;

    &-header {
        & h2 {
            .bold();
            font-size: 36px;
        }

        color: @light-color;
        margin-bottom: 85px;

        &__title {
            margin-bottom: 45px;
        }

        &__subtitle {
            & p {
                font-size: 16px;
            }
        }
    }

    &-btn {
        margin-left: 85px;
        margin-top: 10px;
    }

    &-card {
        // max-width: 500px;
        &__header {
            text-align: center;
            .bold();
            font-size: 17px;
            margin-bottom: 33px;
        }
        &__img {
        }
        &__price {
            .bold();
            font-size: 19px;
            margin-bottom: 30px;
        }
        &__list {
            min-height: 210px;
            list-style-type: none;
            padding: 0;
            margin: 20px 0;
            &-collapse {
                & li {
                    position: relative;
                    font-size: 17px;
                    line-height: 30px;

                    &::before {

                        content: "";
                        top: 0;
                        transform: translate(-20px, 9px);
                        position: absolute;
                        display: inline-block;
                        width: 11px;
                        height: 9px;
                        background: url(../img/dist/price/checked.png) center center;
                    }
                }
                min-height: auto !important;
            }
            &-none {
                & li {
                    position: relative;
                    font-size: 17px;
                    line-height: 30px;

                    &::before {

                        content: "";
                        top: 0;
                        transform: translate(-20px, 9px);
                        position: absolute;
                        display: inline-block;
                        width: 11px;
                        height: 9px;
                        background: url(../img/dist/price/checked.png) center center;
                    }
                }
                & li {
                    position: relative;
                    font-size: 17px;
                    line-height: 30px;
                    &::before {

                        content: "";
                        top: 0;
                        transform: translate(-20px, 9px);
                        position: absolute;
                        display: inline-block;
                        width: 11px;
                        height: 9px;
                        background: url(../img/dist/price/checked.png) center center;
                    }
                }

                
            
            }
        
        }    
    }   
}

// LG 
@media (min-width: 1200px) {
    .slider-box {
        margin-right: 15px;
    }
}

// LG 
@media (min-width: 992px) and (max-width: 1199px) {}
    .card {
        // width: 400px;
        margin-bottom: 30px;
    }
// MD
@media (min-width: 768px) and (max-width: 991px) {
    .card {
        width: 400px;
        margin-bottom: 30px;
    }
    .price-card__list {
        min-height: auto !important;
    }
}

// Телефоны
@media (max-width: 767px) {
        .card {
            padding: 40px;
            width: 100%;
            margin-bottom: 30px;
        }
}

